@page
@model TempleProject.Model.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PaymentGuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PaymentGuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.SmsSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.SmsSubmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.TypeOfSeva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.TypeOfSeva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.AmountPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.AmountPaid)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CreateDate)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.UpdatedBy)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Gothram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Gothram)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.OtherNames)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.OtherNames)
        </dd>
    </dl>
</div>
<div>    
    <a asp-page="./Index">Back to List</a>
</div>
